<% layout("/layouts/boilerplate.ejs") %>
<div class="row col-6 offset-3 mt-2">
    <div class="alert alert-danger d-flex align-items-center" role="alert">
        <div>
          <%=message%>
        </div>
      </div>      
</div>