<% layout("/layouts/boilerplate.ejs") %>
<body>
    <br>
    <div class="row">
        <div class="col-8 offset-2">
            <form method="post" action="/listing" novalidate class="needs-validation">
                <h3>Create a New Listing</h3>
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Enter the title" class="form-control" required>
                    <div class="valid-feedback">Title looks good</div>
                    <div class="invalid-feedback">Title should be shorter !</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control"></textarea required>
                    <div class="valid-feedback">Description looks good</div>
                    <div class="invalid-feedback">Description should be shorter !</div>
                </div>
                <div class="mb-3">
                    <label for="url" class="form-label">Image URL</label>
                    <input type="text" name="listing[image][url]" placeholder="Enter the image URL" class="form-control" required>
                    <div class="valid-feedback">Image is ready</div>
                    <div class="invalid-feedback">Image is required !</div>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="Enter the price" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid !</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">City</label>
                        <input type="text" name="listing[location]" placeholder="Enter the location" class="form-control" required>
                        <div class="invalid-feedback">Location should be valid !</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="Enter the country" class="form-control" required>
                    <div class="invalid-feedback">Counrty name should be valid !</div>
                </div>
                <button class="btn btn-dark add-btn">Add</button>
            </form>
        </div>
    </div>
</body>
